<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Seth Chrisman is a musician and multimedia artist based in the Hudson Valley, New York.">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">

  <script type="text/javascript" src="//use.typekit.net/nkm7afe.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
