.performances {
	text-align: center;
	background-color: $transparent;

	.performance-list {
		margin-top: 1em;
	}

	span {
		display: block;
		// margin-top: 1em;
	}
}

.performance-list {
	span {
		display: block;
	}

	li {
		margin-bottom: 1em;
	}
}