// Typography
$sans-serif: "wayfinding-sans-extended", $helvetica;
$serif: "adobe-caslon-pro", $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;

// Background Color
$base-background-color: rgb(107,175,210);
$transparent: rgba(255,255,255,0.1);

//Background Gradients
$bg-sunset: linear-gradient(rgb(107,175,210) 0%, rgb(164,200,220) 38%, rgb(214,203,202) 58%, rgb(234,188,150) 79%, rgb(219,136,118) 100%);
$bg-seattle: linear-gradient(rgb(7,40,81) 0%, rgb(8,58,107) 15%, rgb(33,123,147) 50%, rgb(50,160,161) 69%, rgb(142,178,166) 100%);

// Font Colors
$base-font-color: #fff;
$base-accent-color: $base-font-color;

// Link Colors
$base-link-color: #fff;
$hover-link-color: darken($base-link-color, 10);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
